In [1]:
!apt-get update

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:3 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:5 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [55.5 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Ign:17 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:17 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [770 kB]
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,759 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,410 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,119 kB]
Get:21 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [24.7 kB]
Get:22 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [399 kB]
Get:23 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [900 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,182 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [31.6 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [429 kB]
Get:27 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,550 kB]
Get:28 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [40.8 kB]
Get:29 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [49.5 kB]
Fetched 13.0 MB in 4s (3,090 kB/s)
Reading package lists... Done

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [3]:
!wget -q https://downloads.apache.org/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz

In [4]:
!tar xf spark-3.1.1-bin-hadoop2.7.tgz

In [5]:
!pip install -q findspark

In [6]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop2.7"

In [7]:
import findspark
findspark.init()

In [8]:

!wget -O veh -q https://data.cityofnewyork.us/api/views/bm4k-52h4/rows.csv?accessType=DOWNLOAD

In [9]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip -y ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!curl -s http://localhost:4040/api/tunnels

--2021-05-07 16:06:19--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 54.209.238.187, 35.169.70.242, 54.80.88.238, ...
Connecting to bin.equinox.io (bin.equinox.io)|54.209.238.187|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13832437 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip’

ngrok-stable-linux- 100%[===================>]  13.19M  23.8MB/s    in 0.6s

2021-05-07 16:06:19 (23.8 MB/s) - ‘ngrok-stable-linux-amd64.zip’ saved [13832437/13832437]

UnZip 6.00 of 20 April 2009, by Debian. Original by Info-ZIP.

Usage: unzip [-Z] [-opts[modifiers]] file[.zip] [list] [-x xlist] [-d exdir]
  Default action is to extract files in list, except those in xlist, to exdir;
  file[.zip] may be a wildcard.  -Z => ZipInfo mode ("unzip -Z" for usage).

  -p  extract files to pipe, no messages     -l  list files (short format)
  -f  freshen existing files, create none    -t  test compressed archive data
  -u  update files, create if necessary      -z  display archive comment only
  -v  list verbosely/show version info       -T  timestamp archive to latest
  -x  exclude files that follow (in xlist)   -d  extract files into exdir
modifiers:
  -n  never overwrite existing files         -q  quiet mode (-qq => quieter)
  -o  overwrite files WITHOUT prompting      -a  auto-convert any text files
  -j  junk paths (do not make directories)   -aa treat ALL files as text
  -U  use escapes for all non-ASCII Unicode  -UU ignore any Unicode fields
  -C  match filenames case-insensitively     -L  make (some) names lowercase
  -X  restore UID/GID info                   -V  retain VMS version numbers
  -K  keep setuid/setgid/tacky permissions   -M  pipe through "more" pager
  -O CHARSET  specify a character encoding for DOS, Windows and OS/2 archives
  -I CHARSET  specify a character encoding for UNIX and other archives

See "unzip -hh" or unzip.txt for more help.  Examples:
  unzip data1 -x joe   => extract all files except joe from zipfile data1.zip
  unzip -p foo | more  => send contents of foo.zip via pipe into program more
  unzip -fo foo ReadMe => quietly replace existing ReadMe if archive file newer

In [10]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("Collision")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [11]:
col=spark.read.option("header",True).csv("./veh",inferSchema=True);

In [12]:
col.schema

StructType(List(StructField(UNIQUE_ID,IntegerType,true),StructField(COLLISION_ID,IntegerType,true),StructField(CRASH_DATE,StringType,true),StructField(CRASH_TIME,StringType,true),StructField(VEHICLE_ID,StringType,true),StructField(STATE_REGISTRATION,StringType,true),StructField(VEHICLE_TYPE,StringType,true),StructField(VEHICLE_MAKE,StringType,true),StructField(VEHICLE_MODEL,StringType,true),StructField(VEHICLE_YEAR,IntegerType,true),StructField(TRAVEL_DIRECTION,StringType,true),StructField(VEHICLE_OCCUPANTS,IntegerType,true),StructField(DRIVER_SEX,StringType,true),StructField(DRIVER_LICENSE_STATUS,StringType,true),StructField(DRIVER_LICENSE_JURISDICTION,StringType,true),StructField(PRE_CRASH,StringType,true),StructField(POINT_OF_IMPACT,StringType,true),StructField(VEHICLE_DAMAGE,StringType,true),StructField(VEHICLE_DAMAGE_1,StringType,true),StructField(VEHICLE_DAMAGE_2,StringType,true),StructField(VEHICLE_DAMAGE_3,StringType,true),StructField(PUBLIC_PROPERTY_DAMAGE,StringType,true),StructField(PUBLIC_PROPERTY_DAMAGE_TYPE,StringType,true),StructField(CONTRIBUTING_FACTOR_1,StringType,true),StructField(CONTRIBUTING_FACTOR_2,StringType,true)))

In [13]:
col.printSchema()

root
 |-- UNIQUE_ID: integer (nullable = true)
 |-- COLLISION_ID: integer (nullable = true)
 |-- CRASH_DATE: string (nullable = true)
 |-- CRASH_TIME: string (nullable = true)
 |-- VEHICLE_ID: string (nullable = true)
 |-- STATE_REGISTRATION: string (nullable = true)
 |-- VEHICLE_TYPE: string (nullable = true)
 |-- VEHICLE_MAKE: string (nullable = true)
 |-- VEHICLE_MODEL: string (nullable = true)
 |-- VEHICLE_YEAR: integer (nullable = true)
 |-- TRAVEL_DIRECTION: string (nullable = true)
 |-- VEHICLE_OCCUPANTS: integer (nullable = true)
 |-- DRIVER_SEX: string (nullable = true)
 |-- DRIVER_LICENSE_STATUS: string (nullable = true)
 |-- DRIVER_LICENSE_JURISDICTION: string (nullable = true)
 |-- PRE_CRASH: string (nullable = true)
 |-- POINT_OF_IMPACT: string (nullable = true)
 |-- VEHICLE_DAMAGE: string (nullable = true)
 |-- VEHICLE_DAMAGE_1: string (nullable = true)
 |-- VEHICLE_DAMAGE_2: string (nullable = true)
 |-- VEHICLE_DAMAGE_3: string (nullable = true)
 |-- PUBLIC_PROPERTY_DAMAGE: string (nullable = true)
 |-- PUBLIC_PROPERTY_DAMAGE_TYPE: string (nullable = true)
 |-- CONTRIBUTING_FACTOR_1: string (nullable = true)
 |-- CONTRIBUTING_FACTOR_2: string (nullable = true)

In [14]:
col.select("CRASH_TIME").show(10)

+----------+
|CRASH_TIME|
+----------+
|      9:03|
|      8:15|
|     17:18|
|     20:34|
|     21:15|
|     17:35|
|     13:15|
|     12:39|
|     11:20|
|     18:12|
+----------+
only showing top 10 rows

In [15]:
## Converting CRASH TIME type: String to timestamp 
from pyspark.sql.types import DateType
from pyspark.sql.functions import to_timestamp

col= col.withColumn('CRASH_TIME',to_timestamp(col["CRASH_TIME"], 'H:mm'))

In [16]:
col.select("CRASH_TIME").show(10)

+-------------------+
|         CRASH_TIME|
+-------------------+
|1970-01-01 09:03:00|
|1970-01-01 08:15:00|
|1970-01-01 17:18:00|
|1970-01-01 20:34:00|
|1970-01-01 21:15:00|
|1970-01-01 17:35:00|
|1970-01-01 13:15:00|
|1970-01-01 12:39:00|
|1970-01-01 11:20:00|
|1970-01-01 18:12:00|
+-------------------+
only showing top 10 rows

In [17]:

### Removing YYYY-MM-DD from CRASH TIME
from pyspark.sql.types import DateType
from pyspark.sql.functions import date_format
from pyspark.sql import functions as f

col = col.withColumn("CRASH_TIME", f.date_format("CRASH_TIME", 'HH:mm:ss'))

In [18]:
#Change CRASH DATE type from String to Date
from pyspark.sql.types import DateType
from pyspark.sql.functions import to_date

#col.withColumn("CRASH DATE", col['CRASH DATE'].cast(DateType())).show()

 
col= col.withColumn('CRASH_DATE',to_date(col["CRASH_DATE"], 'MM/dd/yyyy'))
col.select("CRASH_DATE").show(10)

+----------+
|CRASH_DATE|
+----------+
|2012-09-07|
|2019-09-23|
|2015-10-02|
|2015-10-04|
|2013-04-25|
|2016-05-02|
|2019-10-24|
|2016-08-18|
|2013-07-16|
|2012-11-26|
+----------+
only showing top 10 rows

In [19]:
col.printSchema()

root
 |-- UNIQUE_ID: integer (nullable = true)
 |-- COLLISION_ID: integer (nullable = true)
 |-- CRASH_DATE: date (nullable = true)
 |-- CRASH_TIME: string (nullable = true)
 |-- VEHICLE_ID: string (nullable = true)
 |-- STATE_REGISTRATION: string (nullable = true)
 |-- VEHICLE_TYPE: string (nullable = true)
 |-- VEHICLE_MAKE: string (nullable = true)
 |-- VEHICLE_MODEL: string (nullable = true)
 |-- VEHICLE_YEAR: integer (nullable = true)
 |-- TRAVEL_DIRECTION: string (nullable = true)
 |-- VEHICLE_OCCUPANTS: integer (nullable = true)
 |-- DRIVER_SEX: string (nullable = true)
 |-- DRIVER_LICENSE_STATUS: string (nullable = true)
 |-- DRIVER_LICENSE_JURISDICTION: string (nullable = true)
 |-- PRE_CRASH: string (nullable = true)
 |-- POINT_OF_IMPACT: string (nullable = true)
 |-- VEHICLE_DAMAGE: string (nullable = true)
 |-- VEHICLE_DAMAGE_1: string (nullable = true)
 |-- VEHICLE_DAMAGE_2: string (nullable = true)
 |-- VEHICLE_DAMAGE_3: string (nullable = true)
 |-- PUBLIC_PROPERTY_DAMAGE: string (nullable = true)
 |-- PUBLIC_PROPERTY_DAMAGE_TYPE: string (nullable = true)
 |-- CONTRIBUTING_FACTOR_1: string (nullable = true)
 |-- CONTRIBUTING_FACTOR_2: string (nullable = true)

In [20]:
col.count()

3559738

In [21]:
col.filter(col.COLLISION_ID.isNull()).drop()

DataFrame[UNIQUE_ID: int, COLLISION_ID: int, CRASH_DATE: date, CRASH_TIME: string, VEHICLE_ID: string, STATE_REGISTRATION: string, VEHICLE_TYPE: string, VEHICLE_MAKE: string, VEHICLE_MODEL: string, VEHICLE_YEAR: int, TRAVEL_DIRECTION: string, VEHICLE_OCCUPANTS: int, DRIVER_SEX: string, DRIVER_LICENSE_STATUS: string, DRIVER_LICENSE_JURISDICTION: string, PRE_CRASH: string, POINT_OF_IMPACT: string, VEHICLE_DAMAGE: string, VEHICLE_DAMAGE_1: string, VEHICLE_DAMAGE_2: string, VEHICLE_DAMAGE_3: string, PUBLIC_PROPERTY_DAMAGE: string, PUBLIC_PROPERTY_DAMAGE_TYPE: string, CONTRIBUTING_FACTOR_1: string, CONTRIBUTING_FACTOR_2: string]

In [22]:
col.count()

3559738

In [23]:
missingId=col.filter(col["VEHICLE_ID"].isNull()).filter(col["UNIQUE_ID"].isNull())

In [24]:
cannotRetriveId = missingId.filter(col["COLLISION_ID"].isNull())

In [25]:
col.createOrReplaceTempView("col");
missingId.createOrReplaceTempView("toDelete")

In [26]:
col=spark.sql("select * FROM col WHERE col.COLLISION_ID not in (select COLLISION_ID from toDelete where COLLISION_ID is not null)");

In [27]:
col.filter(col.VEHICLE_ID.isNull()).drop()

DataFrame[UNIQUE_ID: int, COLLISION_ID: int, CRASH_DATE: date, CRASH_TIME: string, VEHICLE_ID: string, STATE_REGISTRATION: string, VEHICLE_TYPE: string, VEHICLE_MAKE: string, VEHICLE_MODEL: string, VEHICLE_YEAR: int, TRAVEL_DIRECTION: string, VEHICLE_OCCUPANTS: int, DRIVER_SEX: string, DRIVER_LICENSE_STATUS: string, DRIVER_LICENSE_JURISDICTION: string, PRE_CRASH: string, POINT_OF_IMPACT: string, VEHICLE_DAMAGE: string, VEHICLE_DAMAGE_1: string, VEHICLE_DAMAGE_2: string, VEHICLE_DAMAGE_3: string, PUBLIC_PROPERTY_DAMAGE: string, PUBLIC_PROPERTY_DAMAGE_TYPE: string, CONTRIBUTING_FACTOR_1: string, CONTRIBUTING_FACTOR_2: string]

In [28]:
print(col.select("VEHICLE_ID").distinct().show(100));

+--------------------+
|          VEHICLE_ID|
+--------------------+
|              692423|
|              370609|
|f015cba0-adcb-48c...|
|a4248672-101e-406...|
|c06970b5-afa0-4ea...|
|023ab94e-76e4-4ca...|
|57b5ffa1-20b5-4df...|
|2d8a816f-d14a-44d...|
|              505944|
|              147348|
|              555779|
|              113602|
|             1108583|
|             1219138|
|             1218061|
|              642225|
|              762357|
|             1172127|
|             1155583|
|              502936|
|f1548baf-d7cc-4da...|
|              621533|
|              622985|
|              371086|
|              762037|
|              615275|
|             1214729|
|              556677|
|              808131|
|              768779|
|              124057|
|               29549|
|              321607|
|              892775|
|             1086716|
|              427979|
|              830532|
|              690002|
|             1176173|
|              722232|
|              334101|
|             1134166|
|              457715|
|              216438|
|             1044347|
|             1225189|
|              338513|
|              125702|
|              758281|
|              788701|
|             1266172|
|              994464|
|              629484|
|              278659|
|              240200|
|             1244241|
|             1245542|
|              357324|
|               80258|
|              620692|
|              485528|
|              590204|
|             1083217|
|              975126|
|              967369|
|              189088|
|             1092516|
|             1188018|
|              606539|
|              419208|
|             1206849|
|               62646|
|              462117|
|              581695|
|             1165233|
|             1272522|
|              520302|
|              854202|
|              723394|
|              912211|
|              623959|
|              444846|
|             1098457|
|              469607|
|              407367|
|              941933|
|             1104594|
|             1089584|
|              978762|
|               92146|
|              478118|
|              699985|
|             1129965|
|              493029|
|              652124|
|              691672|
|              231436|
|              827772|
|               49003|
|              429742|
+--------------------+
only showing top 100 rows

None

In [29]:
print(col.select("VEHICLE_DAMAGE_1","VEHICLE_DAMAGE_2","VEHICLE_DAMAGE_3").distinct().show(30));
## Checking if null value is present

+--------------------+--------------------+--------------------+
|    VEHICLE_DAMAGE_1|    VEHICLE_DAMAGE_2|    VEHICLE_DAMAGE_3|
+--------------------+--------------------+--------------------+
|    Right Side Doors|Right Rear Quarte...|               Other|
|Left Front Quarte...|Left Rear Quarter...|           No Damage|
|     Left Side Doors|   Left Front Bumper|Right Front Quart...|
|   Left Front Bumper|  Right Front Bumper|Right Rear Quarte...|
|   Left Front Bumper|    Center Front End|       Undercarriage|
|   Left Front Bumper|    Center Front End|     Left Side Doors|
|Right Rear Quarte...|       Undercarriage|           No Damage|
|     Center Back End|   Right Rear Bumper|     Left Side Doors|
|    Right Side Doors|   Left Front Bumper|    Left Rear Bumper|
|     Center Back End|   Left Front Bumper|                Roof|
|   Left Front Bumper|Right Rear Quarte...|           No Damage|
|  Right Front Bumper|Left Front Quarte...|                Roof|
|           No Damage|           No Damage|Right Front Quart...|
|          Demolished|    Left Rear Bumper|                null|
|    Left Rear Bumper|    Left Rear Bumper|   Left Front Bumper|
|  Right Front Bumper|  Right Front Bumper|          Demolished|
|    Right Side Doors|Left Front Quarte...|               Other|
|    Center Front End|     Left Side Doors|Right Front Quart...|
|Right Front Quart...|               Other|    Right Side Doors|
|Left Rear Quarter...|           No Damage|    Left Rear Bumper|
|     Center Back End|               Other|    Left Rear Bumper|
|                Roof|           No Damage|    Center Front End|
|   Right Rear Bumper|     Center Back End|Left Front Quarte...|
|    Left Rear Bumper|Left Rear Quarter...|           No Damage|
|Right Front Quart...|Right Front Quart...|    Right Side Doors|
|   Left Front Bumper|    Right Side Doors|Left Front Quarte...|
|                Roof|Right Front Quart...|    Center Front End|
|    Left Rear Bumper|    Center Front End|           No Damage|
|                Roof|     Left Side Doors|Left Front Quarte...|
|     Left Side Doors|     Center Back End|Right Rear Quarte...|
+--------------------+--------------------+--------------------+
only showing top 30 rows

None

In [30]:
col.na.drop(subset=["DRIVER_LICENSE_STATUS"]) \
   .show(truncate=False)

+---------+------------+----------+----------+------------------------------------+------------------+-----------------------------------+--------------+-------------+------------+----------------+-----------------+----------+---------------------+---------------------------+------------------------+------------------------+------------------------+-------------------------+-------------------------+------------------+----------------------+---------------------------+------------------------------+------------------------------+
|UNIQUE_ID|COLLISION_ID|CRASH_DATE|CRASH_TIME|VEHICLE_ID                          |STATE_REGISTRATION|VEHICLE_TYPE                       |VEHICLE_MAKE  |VEHICLE_MODEL|VEHICLE_YEAR|TRAVEL_DIRECTION|VEHICLE_OCCUPANTS|DRIVER_SEX|DRIVER_LICENSE_STATUS|DRIVER_LICENSE_JURISDICTION|PRE_CRASH               |POINT_OF_IMPACT         |VEHICLE_DAMAGE          |VEHICLE_DAMAGE_1         |VEHICLE_DAMAGE_2         |VEHICLE_DAMAGE_3  |PUBLIC_PROPERTY_DAMAGE|PUBLIC_PROPERTY_DAMAGE_TYPE|CONTRIBUTING_FACTOR_1         |CONTRIBUTING_FACTOR_2         |
+---------+------------+----------+----------+------------------------------------+------------------+-----------------------------------+--------------+-------------+------------+----------------+-----------------+----------+---------------------+---------------------------+------------------------+------------------------+------------------------+-------------------------+-------------------------+------------------+----------------------+---------------------------+------------------------------+------------------------------+
|19140702 |4213082     |2019-09-23|08:15:00  |0553ab4d-9500-4cba-8d98-f4d7f89d5856|NY                |Station Wagon/Sport Utility Vehicle|TOYT -CAR/SUV |null         |2002        |North           |1                |M         |Licensed             |NY                         |Going Straight Ahead    |Left Front Bumper       |Left Front Quarter Panel|null                     |null                     |null              |N                     |null                       |Driver Inattention/Distraction|Unspecified                   |
|17044639 |3434155     |2016-05-02|17:35:00  |219456                              |NY                |4 dr sedan                         |MERZ -CAR/SUV |null         |2015        |East            |2                |M         |Licensed             |FL                         |Merging                 |Right Front Bumper      |Right Front Bumper      |Right Front Quarter Panel|null                     |null              |N                     |null                       |Driver Inattention/Distraction|Unsafe Lane Changing          |
|19138701 |4229067     |2019-10-24|13:15:00  |c53b43d9-419a-4ab1-9361-3f2979078d89|NY                |Bus                                |FRHT-TRUCK/BUS|null         |2006        |East            |13               |M         |Licensed             |NY                         |Parked                  |Left Front Quarter Panel|Left Front Quarter Panel|null                     |null                     |null              |N                     |null                       |Unspecified                   |Unspecified                   |
|17303317 |3503027     |2016-08-18|12:39:00  |672828                              |NY                |Station Wagon/Sport Utility Vehicle|FORD -CAR/SUV |null         |2005        |Southwest       |2                |F         |Licensed             |NY                         |Going Straight Ahead    |Center Front End        |Center Front End        |No Damage                |No Damage                |No Damage         |N                     |null                       |Driver Inattention/Distraction|Unspecified                   |
|17285715 |3487936     |2016-07-22|15:40:00  |554272                              |NY                |Convertible                        |VOLK -CAR/SUV |null         |2013        |South           |1                |M         |Licensed             |NY                         |Stopped in Traffic      |Right Rear Bumper       |Right Rear Bumper       |Center Back End          |Left Rear Bumper         |null              |N                     |null                       |Unspecified                   |Unspecified                   |
|17307366 |3499697     |2016-08-13|21:05:00  |650962                              |NY                |Sedan                              |NISS -CAR/SUV |null         |2015        |West            |2                |F         |Licensed             |NY                         |Going Straight Ahead    |Left Side Doors         |Left Side Doors         |Left Rear Quarter Panel  |null                     |null              |N                     |null                       |Unspecified                   |Unspecified                   |
|19140791 |4229563     |2019-10-21|17:55:00  |86a294b4-6672-4a7e-8357-39d6d2eff9f7|PA                |Sedan                              |BMW -CAR/SUV  |null         |2006        |North           |2                |F         |Licensed             |PA                         |Going Straight Ahead    |Center Front End        |Right Front Bumper      |Right Front Quarter Panel|Right Front Bumper       |null              |N                     |null                       |Unspecified                   |Unspecified                   |
|19694316 |4322767     |2020-06-06|18:30:00  |fdc195a7-8127-4c00-834d-bac78b0cf88e|null              |Bike                               |null          |null         |null        |South           |1                |M         |Licensed             |NY                         |Going Straight Ahead    |Center Front End        |No Damage               |No Damage                |No Damage                |No Damage         |N                     |null                       |Traffic Control Disregarded   |Unspecified                   |
|17401424 |3516125     |2016-09-08|14:40:00  |764668                              |NY                |Station Wagon/Sport Utility Vehicle|LINC -CAR/SUV |null         |2015        |West            |1                |M         |Licensed             |NY                         |Stopped in Traffic      |Right Rear Quarter Panel|Right Rear Quarter Panel|Right Rear Bumper        |No Damage                |No Damage         |N                     |null                       |Unspecified                   |Unspecified                   |
|19140656 |4229538     |2019-10-24|17:30:00  |70e5262a-bd27-48a6-99a1-1ec659804088|NY                |Station Wagon/Sport Utility Vehicle|JEEP -CAR/SUV |null         |2018        |North           |3                |F         |Licensed             |NY                         |Going Straight Ahead    |Left Rear Quarter Panel |Left Rear Quarter Panel |null                     |null                     |null              |N                     |null                       |Unspecified                   |Unspecified                   |
|19139721 |4228839     |2019-10-24|16:00:00  |5bb0b59a-ce74-4a04-9f92-1446ebfe4f46|NC                |Sedan                              |TOYT -CAR/SUV |null         |1990        |South           |1                |M         |Licensed             |NC                         |Going Straight Ahead    |Right Side Doors        |Right Side Doors        |null                     |null                     |null              |N                     |null                       |Unspecified                   |Unspecified                   |
|17222837 |3542089     |2016-10-17|16:00:00  |993368                              |NY                |Pick-up Truck                      |freig         |null         |2006        |South           |0                |M         |Licensed             |NY                         |Going Straight Ahead    |Center Back End         |Center Back End         |null                     |null                     |null              |N                     |null                       |Unspecified                   |Unspecified                   |
|19139288 |4228955     |2019-10-24|23:40:00  |8e406c38-a35f-4a06-bd29-fb196b3adec0|NY                |Station Wagon/Sport Utility Vehicle|NISS -CAR/SUV |null         |2011        |East            |3                |M         |Permit               |NY                         |Going Straight Ahead    |Left Side Doors         |Left Side Doors         |Left Front Quarter Panel |null                     |null              |N                     |null                       |Unspecified                   |Unspecified                   |
|19138486 |4228644     |2019-10-24|10:25:00  |8ada1656-bb64-4bba-91b5-f8872d9de368|NY                |Sedan                              |TOYT -CAR/SUV |null         |2008        |East            |2                |M         |Licensed             |NY                         |Going Straight Ahead    |Center Front End        |No Damage               |No Damage                |No Damage                |No Damage         |N                     |null                       |Driver Inattention/Distraction|Unspecified                   |
|19139804 |4229205     |2019-10-24|12:10:00  |009f5608-f1c8-4747-91be-6b707a1fda3d|NY                |Station Wagon/Sport Utility Vehicle|INFI -CAR/SUV |null         |2019        |East            |1                |M         |Licensed             |NY                         |Entering Parked Position|Right Front Bumper      |Right Front Bumper      |Right Front Quarter Panel|Right Front Quarter Panel|Right Front Bumper|N                     |null                       |Backing Unsafely              |Driver Inattention/Distraction|
|19140446 |4229127     |2019-10-24|20:30:00  |c1353cd0-388f-4e93-887d-6743b7599d2b|NY                |Sedan                              |HOND -CAR/SUV |null         |2017        |West            |1                |F         |Licensed             |NY                         |Going Straight Ahead    |Center Front End        |Center Front End        |Left Front Bumper        |Right Front Bumper       |null              |N                     |null                       |Unspecified                   |Unspecified                   |
|19140792 |4229563     |2019-10-21|17:55:00  |ca744068-6013-47f0-a661-a0fbb579eb47|NM                |Station Wagon/Sport Utility Vehicle|HOND -CAR/SUV |null         |2003        |West            |1                |M         |Licensed             |NY                         |Going Straight Ahead    |Left Front Bumper       |Center Front End        |Center Front End         |Left Front Bumper        |null              |N                     |null                       |Unspecified                   |Unspecified                   |
|19139096 |4229018     |2019-10-24|21:55:00  |6ce523e1-6a14-4bcb-8e98-b2bdc5a74542|NY                |Sedan                              |HOND -CAR/SUV |null         |2018        |South           |3                |M         |Licensed             |NY                         |Going Straight Ahead    |Center Front End        |Left Front Bumper       |Right Front Bumper       |null                     |null              |N                     |null                       |Failure to Yield Right-of-Way |Traffic Control Disregarded   |
|19138903 |4228921     |2019-10-24|11:50:00  |46176b3a-deda-4170-a186-7e7206b7a089|NY                |Station Wagon/Sport Utility Vehicle|TOYT -CAR/SUV |null         |2017        |East            |1                |M         |Licensed             |NY                         |Slowing or Stopping     |Center Front End        |Center Front End        |No Damage                |No Damage                |No Damage         |N                     |null                       |Driver Inattention/Distraction|Unspecified                   |
|19140226 |4229375     |2019-10-24|14:00:00  |f37a0689-c2cb-4ae6-9317-531dffa0f185|NY                |Station Wagon/Sport Utility Vehicle|TOYT -CAR/SUV |null         |2011        |East            |1                |F         |Licensed             |NY                         |Making Left Turn        |Left Rear Quarter Panel |Left Rear Quarter Panel |null                     |null                     |null              |N                     |null                       |Unspecified                   |Unspecified                   |
+---------+------------+----------+----------+------------------------------------+------------------+-----------------------------------+--------------+-------------+------------+----------------+-----------------+----------+---------------------+---------------------------+------------------------+------------------------+------------------------+-------------------------+-------------------------+------------------+----------------------+---------------------------+------------------------------+------------------------------+
only showing top 20 rows

In [31]:
print(col.select("DRIVER_LICENSE_STATUS").distinct().show(30));

+---------------------+
|DRIVER_LICENSE_STATUS|
+---------------------+
|                 null|
|           Unlicensed|
|               Permit|
|             Licensed|
+---------------------+

None

In [32]:

## Setting all null values to Unknown 
col.filter(col.COLLISION_ID.isNull()).drop()

DataFrame[UNIQUE_ID: int, COLLISION_ID: int, CRASH_DATE: date, CRASH_TIME: string, VEHICLE_ID: string, STATE_REGISTRATION: string, VEHICLE_TYPE: string, VEHICLE_MAKE: string, VEHICLE_MODEL: string, VEHICLE_YEAR: int, TRAVEL_DIRECTION: string, VEHICLE_OCCUPANTS: int, DRIVER_SEX: string, DRIVER_LICENSE_STATUS: string, DRIVER_LICENSE_JURISDICTION: string, PRE_CRASH: string, POINT_OF_IMPACT: string, VEHICLE_DAMAGE: string, VEHICLE_DAMAGE_1: string, VEHICLE_DAMAGE_2: string, VEHICLE_DAMAGE_3: string, PUBLIC_PROPERTY_DAMAGE: string, PUBLIC_PROPERTY_DAMAGE_TYPE: string, CONTRIBUTING_FACTOR_1: string, CONTRIBUTING_FACTOR_2: string]

In [33]:
print(col.select("DRIVER_LICENSE_JURISDICTION").distinct().show(30));
## Checking if null value is present

+---------------------------+
|DRIVER_LICENSE_JURISDICTION|
+---------------------------+
|                   A,NEJADE|
|                         SC|
|                         AZ|
|                        ZZZ|
|                         NS|
|                         LA|
|                         MN|
|                         NJ|
|                         MX|
|                         DC|
|                         OR|
|                         NT|
|                       null|
|                         VA|
|                        NB1|
|                         RI|
|                         KY|
|                         WY|
|                         BC|
|                         NH|
|                         MI|
|                         NV|
|                         WI|
|                         ID|
|                         CA|
|                         CT|
|                         NE|
|                         MT|
|                         NC|
|                         PQ|
+---------------------------+
only showing top 30 rows

None

In [34]:
## Setting all null values to Unknown 
col=col.fillna(value="Not Provided",subset=["DRIVER_LICENSE_JURISDICTION"])

In [35]:
print(col.select("POINT_OF_IMPACT").distinct().show(30));
## Checking if null value is present

+--------------------+
|     POINT_OF_IMPACT|
+--------------------+
|Left Rear Quarter...|
|     Center Back End|
|Left Front Quarte...|
|                null|
|  Right Front Bumper|
|    Left Rear Bumper|
|    Right Side Doors|
|                Roof|
|Right Front Quart...|
|               Other|
|          Overturned|
|             Trailer|
|Right Rear Quarte...|
|     Left Side Doors|
|   Left Front Bumper|
|          Demolished|
|    Center Front End|
|       Undercarriage|
|   Right Rear Bumper|
|           No Damage|
+--------------------+

None

In [36]:
## Setting all null values to Unknown 
col=col.fillna(value="Not Provided",subset=["POINT_OF_IMPACT"])

In [37]:
print(col.select("VEHICLE_TYPE","VEHICLE_MAKE","VEHICLE_MODEL").distinct().show(30));
## Checking if null value is present

+--------------------+----------------+-------------+
|        VEHICLE_TYPE|    VEHICLE_MAKE|VEHICLE_MODEL|
+--------------------+----------------+-------------+
|Tractor Truck Diesel|           DORSE|         null|
|Station Wagon/Spo...|   JEEP -CAR/SUV|     JEEP GCH|
|           Box Truck|  INTL-TRUCK/BUS|         4400|
|Station Wagon/Spo...|   JEEP -CAR/SUV|     JEEP PAT|
|               Sedan|           WAGON|         null|
|          4 dr sedan|   ACUR -CAR/SUV|          ATL|
|           Box Truck|           WORKH|         null|
|          Motorcycle|       HOND -MCL|          CTX|
|                null|         UNKNOWN|      UNKNOWN|
|Tractor Truck Gas...|  FRHT-TRUCK/BUS|      FRHT TK|
|               trail|            null|         null|
|               Sedan|   HUMM -CAR/SUV|         null|
|Station Wagon/Spo...|           HONDA|         null|
|                 Van|             unk|         null|
|       Pick-up Truck|             ihc|         null|
|                 Bus|         unknown|      unknown|
|                null|       FIRETRUCK|         FDNY|
|          School Bus|           NEWFL|         null|
| Tow Truck / Wrecker|         UNKNOWN|         null|
|               Sedan|            COTO|         null|
|                 Bus|           Orion|      Mta bus|
|               Sedan|           FREIG|         null|
|Station Wagon/Spo...|   LNDR -CAR/SUV|     LNDR DIS|
|Station Wagon/Spo...|   DODG -CAR/SUV| WAGON WT PRO|
|                FIRE|            FDNY|         null|
|               Sedan|           DUICK|         null|
|          2 dr sedan|   CHRY -CAR/SUV|     CHRY SEB|
|          2 dr sedan|    BMW -CAR/SUV|      BMW 3TI|
|       Pick-up Truck|WABAS SEMI TRUCK|         null|
|                 Bus|           NE/FL|    NEW FLYER|
+--------------------+----------------+-------------+
only showing top 30 rows

None

In [38]:
## Setting all null values to Unknown 
col=col.fillna(value="Not Provided",subset=["VEHICLE_TYPE","VEHICLE_MAKE","VEHICLE_MODEL"])

In [39]:
print(col.select("STATE_REGISTRATION").distinct().show(100));
## Checking if null value is present

+------------------+
|STATE_REGISTRATION|
+------------------+
|                SC|
|                AZ|
|                UA|
|                NS|
|                LA|
|                MN|
|                NJ|
|                MX|
|                DC|
|                ZZ|
|                OR|
|                NT|
|              null|
|                VA|
|                RI|
|                WY|
|                KY|
|                BC|
|                NH|
|                LR|
|                MI|
|                NV|
|                GV|
|                QB|
|                WI|
|                ID|
|                CA|
|                CT|
|                NE|
|                MT|
|                NC|
|                VT|
|                PQ|
|                MD|
|                DE|
|                MO|
|                VI|
|                IL|
|                ME|
|                MB|
|                GU|
|                WA|
|                ND|
|                MS|
|                AL|
|                IN|
|                DI|
|                OH|
|                TN|
|                NM|
|                IA|
|                PA|
|                SD|
|                FO|
|                NY|
|                UK|
|                ON|
|                SK|
|                AB|
|                FM|
|                MH|
|                PE|
|                TX|
|                WV|
|                GA|
|                MA|
|                AS|
|                KS|
|                OT|
|                FL|
|                CO|
|                AK|
|                YT|
|                AR|
|                NB|
|                OK|
|                PR|
|                NF|
|                MP|
|                UT|
|                DP|
|                HI|
+------------------+

None

In [40]:
print(col.select("TRAVEL_DIRECTION").distinct().show(20));
## Checking if null value is present

+----------------+
|TRAVEL_DIRECTION|
+----------------+
|            null|
|               E|
|       Northwest|
|               U|
|         Unknown|
|           South|
|       Southeast|
|               -|
|               N|
|               W|
|               S|
|            East|
|       Southwest|
|            West|
|           North|
|       Northeast|
+----------------+

None

In [41]:
## Setting all null values to Unknown 
col=col.fillna(value="unknown",subset=["TRAVEL_DIRECTION"])

In [42]:
print(col.select("VEHICLE_OCCUPANTS").distinct().show(20));

+-----------------+
|VEHICLE_OCCUPANTS|
+-----------------+
|              148|
|              392|
|               31|
|          9999999|
|               65|
|               53|
|               34|
|              211|
|               81|
|               28|
|              183|
|        999999999|
|               76|
|               26|
|               27|
|               44|
|              743|
|               12|
|               22|
|             2013|
+-----------------+
only showing top 20 rows

None

In [43]:
print(col.select("DRIVER_SEX").distinct().show(20));

+----------+
|DRIVER_SEX|
+----------+
|         F|
|      null|
|         M|
|         U|
+----------+

None

In [44]:
col=col.fillna(value="Not Provided",subset=["DRIVER_SEX"])

In [45]:
print(col.select("DRIVER_LICENSE_STATUS").distinct().show(20));

+---------------------+
|DRIVER_LICENSE_STATUS|
+---------------------+
|                 null|
|           Unlicensed|
|               Permit|
|             Licensed|
+---------------------+

None

In [46]:
print(col.select("DRIVER_LICENSE_JURISDICTION").distinct().show(20));

+---------------------------+
|DRIVER_LICENSE_JURISDICTION|
+---------------------------+
|                   A,NEJADE|
|                         SC|
|                         AZ|
|                        ZZZ|
|                         NS|
|                         LA|
|                         MN|
|                         NJ|
|                         MX|
|                         DC|
|                         OR|
|                         NT|
|                         VA|
|                        NB1|
|                         RI|
|                         KY|
|                         WY|
|                         BC|
|                         NH|
|                         MI|
+---------------------------+
only showing top 20 rows

None

In [47]:
print(col.select("PRE_CRASH").distinct().show(20));

+--------------------+
|           PRE_CRASH|
+--------------------+
|Making Right Turn...|
|             Merging|
|                null|
| Starting in Traffic|
|             Passing|
|       Making U Turn|
|Starting from Par...|
|  Stopped in Traffic|
|              Other*|
|             Backing|
|Making Left Turn ...|
|    Making Left Turn|
|Entering Parked P...|
|Going Straight Ahead|
|      Police Pursuit|
|      Changing Lanes|
| Slowing or Stopping|
|Avoiding Object i...|
|              Parked|
|   Making Right Turn|
+--------------------+

None

In [48]:
col=col.fillna(value="Not Provided",subset=["PRE_CRASH"])

In [49]:
print(col.select("POINT_OF_IMPACT").distinct().show(30));

+--------------------+
|     POINT_OF_IMPACT|
+--------------------+
|Left Rear Quarter...|
|     Center Back End|
|Left Front Quarte...|
|  Right Front Bumper|
|    Left Rear Bumper|
|    Right Side Doors|
|                Roof|
|Right Front Quart...|
|               Other|
|          Overturned|
|             Trailer|
|Right Rear Quarte...|
|     Left Side Doors|
|   Left Front Bumper|
|          Demolished|
|    Center Front End|
|       Undercarriage|
|   Right Rear Bumper|
|        Not Provided|
|           No Damage|
+--------------------+

None

In [50]:
print(col.select("PUBLIC_PROPERTY_DAMAGE","PUBLIC_PROPERTY_DAMAGE_TYPE").distinct().show(30));

+----------------------+---------------------------+
|PUBLIC_PROPERTY_DAMAGE|PUBLIC_PROPERTY_DAMAGE_TYPE|
+----------------------+---------------------------+
|           Unspecified|       FENCE OF 503 CARY...|
|           Unspecified|       A NO STANDING TRA...|
|           Unspecified|        UTILITY LIGHT POST.|
|           Unspecified|       DAMAGED TREE GUAR...|
|           Unspecified|       TRAFFIC CONTROL D...|
|           Unspecified|              NYPD VMS SIGN|
|           Unspecified|               HOUSE GARAGE|
|           Unspecified|       DENTS AND SCRATCH...|
|           Unspecified|       FENCE OF 853 EAST...|
|           Unspecified|       TRAFFIC SIGNAL DE...|
|           Unspecified|       BRICK WALL 2FT X 8FT|
|           Unspecified|       NOTIFIED DEPARTME...|
|           Unspecified|       METAL GATE IN FRO...|
|           Unspecified|       FRONT GATE TO ENT...|
|           Unspecified|       DAMAGE TO BUILDIN...|
|           Unspecified|       LIGHT POLE ON THE...|
|           Unspecified|             74 JULES DRIVE|
|           Unspecified|       HIT TRAFFIC POLE ...|
|           Unspecified|        UTILITY/ LIGHT POLE|
|           Unspecified|               FENCE DENTED|
|           Unspecified|       POURED CONCRETE/ ...|
|           Unspecified|       UTILITY POLE ON T...|
|           Unspecified|       DAMAGE TO FENCE G...|
|           Unspecified|       METAL FENCE AT TH...|
|           Unspecified|       OUTSIDE METAL FEN...|
|           Unspecified|       DAMAGE DONE TO OW...|
|           Unspecified|       THE BASE OF THE L...|
|           Unspecified|       DOT NO STANDING SIGN|
|           Unspecified|       ONE CON EDISON UT...|
|           Unspecified|       MOTORIST WAS MAKI...|
+----------------------+---------------------------+
only showing top 30 rows

None

In [51]:
col=col.fillna(value="Not Provided",subset=["PUBLIC_PROPERTY_DAMAGE"])

In [52]:
col.printSchema()

root
 |-- UNIQUE_ID: integer (nullable = true)
 |-- COLLISION_ID: integer (nullable = true)
 |-- CRASH_DATE: date (nullable = true)
 |-- CRASH_TIME: string (nullable = true)
 |-- VEHICLE_ID: string (nullable = true)
 |-- STATE_REGISTRATION: string (nullable = true)
 |-- VEHICLE_TYPE: string (nullable = false)
 |-- VEHICLE_MAKE: string (nullable = false)
 |-- VEHICLE_MODEL: string (nullable = false)
 |-- VEHICLE_YEAR: integer (nullable = true)
 |-- TRAVEL_DIRECTION: string (nullable = false)
 |-- VEHICLE_OCCUPANTS: integer (nullable = true)
 |-- DRIVER_SEX: string (nullable = false)
 |-- DRIVER_LICENSE_STATUS: string (nullable = true)
 |-- DRIVER_LICENSE_JURISDICTION: string (nullable = false)
 |-- PRE_CRASH: string (nullable = false)
 |-- POINT_OF_IMPACT: string (nullable = false)
 |-- VEHICLE_DAMAGE: string (nullable = true)
 |-- VEHICLE_DAMAGE_1: string (nullable = true)
 |-- VEHICLE_DAMAGE_2: string (nullable = true)
 |-- VEHICLE_DAMAGE_3: string (nullable = true)
 |-- PUBLIC_PROPERTY_DAMAGE: string (nullable = false)
 |-- PUBLIC_PROPERTY_DAMAGE_TYPE: string (nullable = true)
 |-- CONTRIBUTING_FACTOR_1: string (nullable = true)
 |-- CONTRIBUTING_FACTOR_2: string (nullable = true)

In [53]:
pip install openclean

Collecting openclean
  Downloading https://files.pythonhosted.org/packages/87/94/3bb1800f514f9a9b5e611ea006a0dfe4a3edebcd5fac931ce9957b83ca20/openclean-0.1.0-py3-none-any.whl
Collecting openclean-core==0.4.0
  Downloading https://files.pythonhosted.org/packages/a2/e8/70da6e91c003a7da18be3bd5747fa22321a363c806b0cb7db1c46571610f/openclean_core-0.4.0-py3-none-any.whl (267kB)
     |████████████████████████████████| 276kB 6.2MB/s
Collecting jellyfish
  Downloading https://files.pythonhosted.org/packages/30/a6/4d039bc827a102f62ce7a7910713e38fdfd7c7a40aa39c72fb14938a1473/jellyfish-0.8.2-cp37-cp37m-manylinux2014_x86_64.whl (90kB)
     |████████████████████████████████| 92kB 4.9MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.0->openclean) (2.8.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.0->openclean) (1.4.1)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.0->openclean) (0.16.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.0->openclean) (2.23.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.0->openclean) (0.22.2.post1)
Collecting flowserv-core>=0.8.0
  Downloading https://files.pythonhosted.org/packages/3e/71/93c6fa3dddd38ee1991ae1f2bba6686bf1638334c13f0900050e9dd6d339/flowserv_core-0.8.1-py3-none-any.whl (231kB)
     |████████████████████████████████| 235kB 9.4MB/s
Collecting histore>=0.4.0
  Downloading https://files.pythonhosted.org/packages/96/8f/b8b0c8119c2139d399756b9c1128f6c8c81f96f2a3d87370e1e8a3ea5d6f/histore-0.4.1-py3-none-any.whl (109kB)
     |████████████████████████████████| 112kB 10.9MB/s
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.0->openclean) (1.1.5)
Collecting jsonschema>=3.2.0
  Downloading https://files.pythonhosted.org/packages/c5/8f/51e89ce52a085483359217bc72cdbf6e75ee595d5b1d4b5ade40c7e018b8/jsonschema-3.2.0-py2.py3-none-any.whl (56kB)
     |████████████████████████████████| 61kB 5.5MB/s
Collecting refdata>=0.2.0
  Downloading https://files.pythonhosted.org/packages/1d/05/afe4da72b2e97c4cd667e09a6594efab41f35faa68a98c6afb8ecdbc6bcc/refdata-0.2.0-py3-none-any.whl
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.0->openclean) (0.3.3)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.0->openclean) (1.4.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->openclean-core==0.4.0->openclean) (1.15.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scipy->openclean-core==0.4.0->openclean) (1.19.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.0->openclean) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.0->openclean) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.0->openclean) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.0->openclean) (1.24.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core==0.4.0->openclean) (1.0.1)
Requirement already satisfied: SQLAlchemy>=1.3.18 in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.0->openclean) (1.4.7)
Collecting pyyaml>=5.1
  Downloading https://files.pythonhosted.org/packages/7a/a5/393c087efdc78091afa2af9f1378762f9821c9c1d7a22c5753fb5ac5f97a/PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636kB)
     |████████████████████████████████| 645kB 9.9MB/s
Collecting gitpython
  Downloading https://files.pythonhosted.org/packages/a6/99/98019716955ba243657daedd1de8f3a88ca1f5b75057c38e959db22fb87b/GitPython-3.1.14-py3-none-any.whl (159kB)
     |████████████████████████████████| 163kB 17.7MB/s
Requirement already satisfied: Click in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.0->openclean) (7.1.2)
Collecting passlib
  Downloading https://files.pythonhosted.org/packages/3b/a4/ab6b7589382ca3df236e03faa71deac88cae040af60c071a78d254a62172/passlib-1.7.4-py2.py3-none-any.whl (525kB)
     |████████████████████████████████| 532kB 18.2MB/s
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from histore>=0.4.0->openclean-core==0.4.0->openclean) (5.4.8)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core==0.4.0->openclean) (2018.9)
Requirement already satisfied: pyrsistent>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.0->openclean) (0.17.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.0->openclean) (56.0.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.0->openclean) (20.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.0->openclean) (3.10.1)
Collecting datasize>=1.0.0
  Downloading https://files.pythonhosted.org/packages/91/32/2e3a423003fb9b8fe703641ff0f33197caba606ae5cd6cc4ae380e892487/datasize-1.0.0.tar.gz (149kB)
     |████████████████████████████████| 153kB 23.8MB/s
Collecting tableprint
  Downloading https://files.pythonhosted.org/packages/e4/9f/e61234cc4a1e2c7c8ade391828a66ef8e4cfef4bd586def359d03895d916/tableprint-0.9.1-py3-none-any.whl
Requirement already satisfied: pooch>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core==0.4.0->openclean) (1.3.0)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy>=1.3.18->flowserv-core>=0.8.0->openclean-core==0.4.0->openclean) (1.0.0)
Collecting gitdb<5,>=4.0.1
  Downloading https://files.pythonhosted.org/packages/ea/e8/f414d1a4f0bbc668ed441f74f44c116d9816833a48bf81d22b697090dba8/gitdb-4.0.7-py3-none-any.whl (63kB)
     |████████████████████████████████| 71kB 6.7MB/s
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->jsonschema>=3.2.0->openclean-core==0.4.0->openclean) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->jsonschema>=3.2.0->openclean-core==0.4.0->openclean) (3.7.4.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from tableprint->refdata>=0.2.0->openclean-core==0.4.0->openclean) (0.2.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pooch>=1.3.0->refdata>=0.2.0->openclean-core==0.4.0->openclean) (20.9)
Collecting smmap<5,>=3.0.1
  Downloading https://files.pythonhosted.org/packages/68/ee/d540eb5e5996eb81c26ceffac6ee49041d473bc5125f2aa995cf51ec1cf1/smmap-4.0.0-py2.py3-none-any.whl
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->pooch>=1.3.0->refdata>=0.2.0->openclean-core==0.4.0->openclean) (2.4.7)
Building wheels for collected packages: datasize
  Building wheel for datasize (setup.py) ... done
  Created wheel for datasize: filename=datasize-1.0.0-py2.py3-none-any.whl size=155029 sha256=cb2908fe7b058057bd661f4de9ef8c5e5ca69d92b59af74c1b0ebccf3c0ec6e5
  Stored in directory: /root/.cache/pip/wheels/b9/a1/a3/97bc5bd191a248dc72fe842abb780935d79fdf9aeee265f1e8
Successfully built datasize
ERROR: nbclient 0.5.3 has requirement jupyter-client>=6.1.5, but you'll have jupyter-client 5.3.5 which is incompatible.
Installing collected packages: jellyfish, pyyaml, smmap, gitdb, gitpython, jsonschema, passlib, flowserv-core, histore, datasize, tableprint, refdata, openclean-core, openclean
  Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Found existing installation: jsonschema 2.6.0
    Uninstalling jsonschema-2.6.0:
      Successfully uninstalled jsonschema-2.6.0
Successfully installed datasize-1.0.0 flowserv-core-0.8.1 gitdb-4.0.7 gitpython-3.1.14 histore-0.4.1 jellyfish-0.8.2 jsonschema-3.2.0 openclean-0.1.0 openclean-core-0.4.0 passlib-1.7.4 pyyaml-5.4.1 refdata-0.2.0 smmap-4.0.0 tableprint-0.9.1

In [54]:
import gzip
import os

datafile = './veh'

In [55]:
from openclean.pipeline import stream

ds = stream(datafile)

In [56]:
ds.head()

  UNIQUE_ID COLLISION_ID  ...           CONTRIBUTING_FACTOR_1 CONTRIBUTING_FACTOR_2
0  10385780       100201  ...                     Unspecified
1  19140702      4213082  ...  Driver Inattention/Distraction           Unspecified
2  14887647      3307608  ...  Driver Inattention/Distraction
3  14889754      3308693  ...                     Unspecified
4  14400270       297666  ...                 Other Vehicular
5  17044639      3434155  ...  Driver Inattention/Distraction  Unsafe Lane Changing
6  19138701      4229067  ...                     Unspecified           Unspecified
7  17303317      3503027  ...  Driver Inattention/Distraction           Unspecified
8  12254536       196425  ...                     Unspecified
9  11804847      2975897  ...  Driver Inattention/Distraction

[10 rows x 25 columns]

In [57]:
from openclean.profiling.column import DefaultColumnProfiler

profiles = ds\
    .sample(n=1000, random_state=42)\
    .profile(default_profiler=DefaultColumnProfiler)

In [58]:
# Print overview of profiling results.

profiles.stats()

                             total  empty  distinct  uniqueness   entropy
UNIQUE_ID                     1000      0      1000    1.000000  9.965784
COLLISION_ID                  1000      0       998    0.998000  9.961784
CRASH_DATE                    1000      0       831    0.831000  9.608687
CRASH_TIME                    1000      0       416    0.416000  8.175374
VEHICLE_ID                    1000      0       599    0.599000  6.934978
STATE_REGISTRATION            1000     62        23    0.024520  1.147366
VEHICLE_TYPE                  1000     45        46    0.048168  3.389546
VEHICLE_MAKE                  1000    471        67    0.126654  4.566605
VEHICLE_MODEL                 1000    990        10    1.000000  3.321928
VEHICLE_YEAR                  1000    479        27    0.051823  4.287315
TRAVEL_DIRECTION              1000    436        10    0.017730  2.378442
VEHICLE_OCCUPANTS             1000    465         9    0.016822  1.637900
DRIVER_SEX                    1000    538         3    0.006494  0.849413
DRIVER_LICENSE_STATUS         1000    558         3    0.006787  0.238265
DRIVER_LICENSE_JURISDICTION   1000    561        12    0.027335  0.868465
PRE_CRASH                     1000    256        17    0.022849  2.629647
POINT_OF_IMPACT               1000    448        16    0.028986  3.584895
VEHICLE_DAMAGE                1000    453        18    0.032907  3.700058
VEHICLE_DAMAGE_1              1000    652        17    0.048851  3.359644
VEHICLE_DAMAGE_2              1000    734        16    0.060150  2.769344
VEHICLE_DAMAGE_3              1000    804        15    0.076531  1.524331
PUBLIC_PROPERTY_DAMAGE        1000    406         3    0.005051  0.570355
PUBLIC_PROPERTY_DAMAGE_TYPE   1000    994         6    1.000000  2.584963
CONTRIBUTING_FACTOR_1         1000     33        36    0.037229  2.602685
CONTRIBUTING_FACTOR_2         1000    443        22    0.039497  1.492430

In [59]:

# Get set of distinct values for column 'STATE_REGISTRATION'. Print the
# values in decreasing order of frequency.

states = ds.distinct('STATE_REGISTRATION')
for rank, val in enumerate(states.most_common()):
    st, freq = val
    print('{:<3} {}  {:>10}'.format('{}.'.format(rank + 1), st, '{:,}'.format(freq)))

1.  NY   2,832,197
2.  NJ     201,630
3.       190,129
4.  PA      70,687
5.  FL      38,270
6.  CT      36,650
7.  VA      16,227
8.  MA      15,745
9.  MD      15,574
10. NC      14,044
11. IN      11,004
12. GA      10,635
13. TX      10,001
14. IL       9,131
15. UK       8,888
16. AZ       8,298
17. SC       6,686
18. ZZ       6,631
19. OK       6,128
20. OH       5,432
21. DE       4,501
22. CA       4,054
23. TN       3,983
24. MI       2,995
25. ME       2,868
26. RI       2,792
27. NH       1,871
28. AL       1,748
29. VT       1,552
30. WA       1,406
31. MN       1,363
32. ON       1,298
33. WI       1,296
34. MO       1,217
35. NM       1,131
36. DC         907
37. IA         823
38. KY         816
39. LA         771
40. CO         768
41. MS         724
42. PQ         655
43. NB         625
44. WV         554
45. KS         540
46. AR         494
47. OR         470
48. NV         364
49. UT         343
50. SD         337
51. QB         333
52. MT         272
53. NF         270
54. NE         239
55. ND         193
56. ID         190
57. DP         171
58. WY         161
59. AK         101
60. HI          66
61. GV          58
62. NS          54
63. BC          52
64. AB          48
65. OT          40
66. YT          39
67. NT          37
68. PE          34
69. MB          30
70. MX          26
71. FO          24
72. VI          15
73. SK          10
74. DI           5
75. FM           5
76. MH           4
77. GU           2
78. PR           2
79. MP           1
80. AS           1
81. UA           1
82. LR           1

In [60]:
# List identifier and names for available reference datasets.

from openclean.data.refdata import RefStore

refdata = RefStore()
for entry in refdata.repository().find():
    print('{:<35}:  {}'.format(entry.identifier, entry.name))

company_suffixes                   :  Company Suffixes
encyclopaedia_britannica:us_cities :  Cities in the U.S.
nyc.gov:dof:state_codes            :  NYC Finance - State Codes
restcountries.eu                   :  REST Countries
usps:street_abbrev                 :  C1 Street Suffix Abbreviations
usps:secondary_unit_designators    :  C2 Secondary Unit Designators
wikipedia:us_states                :  States and territories of the U.S.

In [61]:
# Download the license plate state codes dataset.

refdata\
    .load('nyc.gov:dof:state_codes', auto_download=True)\
    .df()\
    .head()

  code        name type
0   AL     Alabama   US
1   AK      Alaska   US
2   AZ     Arizona   US
3   AR    Arkansas   US
4   CA  California   US

In [62]:
# Get set of distinct state codes.

states_ref = refdata.load('nyc.gov:dof:state_codes', auto_download=True).distinct('code')

In [63]:

# Print information for entries in the 'STATE_REGISTRATION' column that
# do not occur in the reference dataset.

for rank, val in enumerate(states.most_common()):
    st, freq = val
    if st not in states_ref:
        print('{:<3} {}  {:>10}'.format('{}.'.format(rank + 1), st, '{:,}'.format(freq)))

3.       190,129
15. UK       8,888
18. ZZ       6,631
42. PQ         655
65. OT          40
72. VI          15
74. DI           5
75. FM           5
76. MH           4
77. GU           2
78. PR           2
79. MP           1
80. AS           1
81. UA           1
82. LR           1

In [64]:
VEHICLEMAKE = ds.distinct('VEHICLE_MAKE')

for rank, val in enumerate(VEHICLEMAKE.most_common(10)):
    st, freq = val
    print('{:<3} {:>8}  {:>10}'.format('{}.'.format(rank + 1), st, '{:,}'.format(freq)))

print('\nTotal number of distinct values is {}'.format(len(VEHICLEMAKE)))

1.             1,756,205
2.  TOYT -CAR/SUV     317,100
3.  HOND -CAR/SUV     219,231
4.  NISS -CAR/SUV     187,775
5.  FORD -CAR/SUV     154,186
6.  CHEV -CAR/SUV      88,387
7.  HYUN -CAR/SUV      63,562
8.  MERZ -CAR/SUV      57,896
9.  BMW -CAR/SUV      57,549
10. JEEP -CAR/SUV      56,903

Total number of distinct values is 9495

In [65]:
# Using the default settings yields two outliers.

from openclean.profiling.anomalies.sklearn import DBSCANOutliers

DBSCANOutliers().find(VEHICLEMAKE)

['', '.', '????']

In [66]:
# Cluster street names using 'Key Collision' clustering with the
# default fingerprint key generator.

from openclean.cluster.key import KeyCollision
from openclean.function.value.key.fingerprint import Fingerprint

Juridiction = ds.update('DRIVER_LICENSE_JURISDICTION', str.upper).distinct('DRIVER_LICENSE_JURISDICTION')
clusters = KeyCollision(func=Fingerprint()).clusters(Juridiction)

In [67]:

# Define simple helper method to print the k largest clusters.

def print_k_clusters(clusters, k=5):
    clusters = sorted(clusters, key=lambda x: len(x), reverse=True)
    val_count = sum([len(c) for c in clusters])
    print('Total number of clusters is {} with {} values'.format(len(clusters), val_count))
    for i in range(min(k, len(clusters))):
        print('\nCluster {}'.format(i + 1))
        for key, cnt in clusters[i].items():
            if key == '':
                key = "''"
            print('  {} (x {})'.format(key, cnt))

In [68]:
print_k_clusters(clusters)

Total number of clusters is 1 with 2 values

Cluster 1
  PA (x 26191)
  PA' (x 1)

In [69]:
# Cluster street names using 'Key Collision' clustering with the
# default fingerprint key generator.

from openclean.cluster.key import KeyCollision
from openclean.function.value.key.fingerprint import Fingerprint

vType = ds.update('VEHICLE_TYPE', str.upper).distinct('VEHICLE_TYPE')
clusterV = KeyCollision(func=Fingerprint()).clusters(vType)

In [70]:
# Define simple helper method to print the k largest clusters.

def print_k_clusters(clusterV, k=5):
    clusterV = sorted(clusterV, key=lambda x: len(x), reverse=True)
    val_count = sum([len(c) for c in clusterV])
    print('Total number of clusters is {} with {} values'.format(len(clusterV), val_count))
    for i in range(min(k, len(clusterV))):
        print('\nCluster {}'.format(i + 1))
        for key, cnt in clusterV[i].items():
            if key == '':
                key = "''"
            print('  {} (x {})'.format(key, cnt))

In [71]:
print_k_clusters(clusters)

Total number of clusters is 1 with 2 values

Cluster 1
  PA (x 26191)
  PA' (x 1)

In [72]:
print(col.select("UNIQUE_ID").distinct().show(30));

+---------+
|UNIQUE_ID|
+---------+
| 15041840|
| 19138693|
| 14751100|
| 19140680|
| 15078965|
| 19139771|
| 19139827|
| 19140022|
| 19139682|
| 13648716|
| 14912061|
| 12544877|
| 14731566|
|  9625628|
| 16935579|
| 17381522|
| 17385146|
| 11971827|
| 17173557|
| 14678441|
| 17413847|
| 11752058|
| 17148205|
| 17249982|
| 14932328|
| 17172550|
| 15018523|
| 17053776|
|  8478179|
| 16935603|
+---------+
only showing top 30 rows

None

In [73]:

from openclean.function.eval.base import Col
from openclean.function.eval.logic import And
from openclean.function.eval.null import IsNotEmpty

df = ds\
    .select(['UNIQUE_ID', 'STATE_REGISTRATION', 'VEHICLE_TYPE'])\
    .rename('STATE_REGISTRATION', 'State')\
    .where(And(IsNotEmpty('VEHICLE_TYPE'), Col('State') != '99'))\
    .update('VEHICLE_TYPE', str.upper)\
    .sample(n=100000, random_state=42)\
    .to_df()

In [74]:
from openclean.operator.map.violations import fd_violations


groups = fd_violations(df, lhs=['UNIQUE_ID', 'State'], rhs='VEHICLE_TYPE')


print('{} vehicles with conflicting Type'.format(len(groups)))

0 vehicles with conflicting Type

In [75]:

from openclean.function.eval.base import Col
from openclean.function.eval.logic import And
from openclean.function.eval.null import IsNotEmpty

df = ds\
    .select(['UNIQUE_ID', 'STATE_REGISTRATION', 'VEHICLE_MAKE'])\
    .rename('STATE_REGISTRATION', 'State')\
    .where(And(IsNotEmpty('VEHICLE_MAKE'), Col('State') != '99'))\
    .update('VEHICLE_MAKE', str.upper)\
    .sample(n=100000, random_state=42)\
    .to_df()

In [76]:
from openclean.operator.map.violations import fd_violations


groups2 = fd_violations(df, lhs=['UNIQUE_ID', 'State'], rhs='VEHICLE_MAKE')


print('{} vehicles with conflicting Make'.format(len(groups2)))

0 vehicles with conflicting Make

In [77]:
df

        UNIQUE_ID State   VEHICLE_MAKE
2609371  17543896    NY  BUIC -CAR/SUV
1686978  17301972    NY  NISS -CAR/SUV
2392969  18726366    NY   KIA -CAR/SUV
3339147  19561739    NJ  CHEV -CAR/SUV
3340750  19645155    NY  JEEP -CAR/SUV
...           ...   ...            ...
3333543  19651631    NY  CHRY -CAR/SUV
2239205  18608829    NY  TOYT -CAR/SUV
3297146  19802302    NY  DODG -CAR/SUV
1077156  17059184    MD  AUDI -CAR/SUV
2866658  17784230    NY  GMC-TRUCK/BUS

[100000 rows x 3 columns]